* {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color: rgb(227, 132, 255);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#launch {
    width: 100%;
    height: 40px;
    background-color: rgb(134, 93, 255);
    border: none;
    border-radius: 8px;
    color: rgb(25, 24, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
    font-weight: 900;
}

#launch:active {
    background-color: rgb(134, 93, 255);
}

label {
    display: inline-block;
    text-align: center;
    color: rgb(227, 132, 255);
    font-family: 'Roboto';
    font-size: 26px;
    margin-bottom: 20px;
}

input {
    display: inline-block;
    text-align: center;
    width: 60px;
    background-color: rgb(25, 24, 37);
    appearance: none;
    border: 2px solid rgb(134, 93, 255);
    padding: 2px;
    border-radius: 8px;
    color: rgb(227, 132, 255);
    font-size: 24px;
}

.formwrapper {
    flex: 1;
    background-color: rgb(25, 24, 37);
    margin: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgb(134, 93, 255);
    padding: 30px;
    width: 400px;
    border-radius: 10px;

}

.mainwrap {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    background-color: rgb(25, 24, 37);

}

.titlewrap {
    flex: 1;
    display: absolute;
    width: 50%;
    height: 100%;
    position: relative;
}

.sidewrap {
    width: 50%;
    height: 100%;
    background-color: rgb(25, 24, 37);
}


@media (max-width: 1100px) {
    .mainwrap {
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    .titlewrap {
      height: 50%;
      min-height: 400px;
      width: 100%;
    }
    .sidewrap {
      height: 50%;
      min-height: 400px;
      width: 100%;
    }
}

@media (hover: hover) and (pointer: fine) {
    #pause:hover {
        border-color: transparent transparent transparent rgb(227, 132, 255);
    }
    
    #launch:hover {
        background-color: rgb(227, 132, 255);
    }
    
    #exit:hover {
        border-color: rgb(227, 132, 255);
        color: rgb(227, 132, 255);
    }

    .tr:hover {
        color: rgb(227, 132, 255);
    }
    
}


#maintimer.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: block;
    background-color: rgb(25, 24, 37);
 }

#maintimer{
    display: none;
}

#time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(134, 93, 255);
    font-size: 300px;
    font-family: Arial;
}

#time.work {
    color:rgb(227, 132, 255);
}


.topwrapper {
    position: absolute;
    top: 3%;
    height: 100px;
    width: 100%;
    display: flex;                  /* establish flex container */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.bottomwrapper {
    position: absolute;
    bottom: 3%;
    height: 100px;
    width: 100%;
    display: flex;                  /* establish flex container */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.desc {   
    z-index: 999999;
    height: 74px;
    line-height: 84px;
    border: none;
    color: rgb(134, 93, 255);
    background-color: transparent;
    font-size: 120px;
    font-family: Arial;
    font-weight: bolder;
    text-align: center;
}


#pause {
    z-index: 999999;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
  
    border-color: transparent transparent transparent rgb(134, 93, 255);
    cursor: pointer;

    border-style: double;
    border-width: 0px 0px 0px 60px;
}

#pause.paused {
    border-style: solid;
    border-width: 37px 0px 37px 60px;
}

#pause:active {
    border-color: transparent transparent transparent rgb(134, 93, 255);
}

.tr {   
    z-index: 999999;
    height: 74px;
    line-height: 84px;
    border: none;
    color: rgb(134, 93, 255);
    background-color: transparent;
    font-size: 90px;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}
  

.tr:active {
    color: rgb(134, 93, 255);
}

#exit {
    position: absolute;
    z-index: 1099999;
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 30px;
    top: 69%;
    transform: rotate(45deg);
    left: calc(50% - 30px);
    color: rgb(134, 93, 255);
    border: 4px solid rgb(134, 93, 255);
    font-family: Arial;
    font-size: 60px;
    font-weight: lighter;
}


#exit:active {
    border-color: rgb(134, 93, 255);
    color: rgb(134, 93, 255);
}

.state {   
    width: 400px;
    height: 140px;
    line-height: 70px;
    text-align: center;
    color: rgb(134, 93, 255);
    font-size: 90px;
    font-family: Arial;
    font-weight: bolder;
    text-align: center;
}   

.timetext {
    top: 0;
    width: 50%;
    display: inline-block;
    position: relative;
    color: rgb(134, 93, 255);
    font-family: 'Roboto';
    font-size: 32px;
    margin-bottom: 10px;
}
